# =========================
# APP
# =========================
NODE_ENV=development
PORT=4000

# =========================
# MONGODB
# =========================
MONGODB_URI=your_database_url
MONGODB_NAME=your_database_name

# =========================
# JWT
# =========================
JWT_SECRET=your_jwt_secret_here
JWT_EXPIRES_IN=1d

# =========================
# REDIS / BULLMQ
# =========================
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

# =========================
# M-INVOICE
# =========================
M_INVOICE_TOKEN=your_m_invoice_token_here

# =========================
# FILE STORAGE
# =========================
ROOT_PATH=/path/to/project

# =========================
# ALERT NOTIFICATION
# =========================
ALERT_DISCORD_ENABLED=false
ALERT_DISCORD_WEBHOOK_URL=

ALERT_TELEGRAM_ENABLED=false
ALERT_TELEGRAM_BOT_TOKEN=
ALERT_TELEGRAM_CHAT_ID=

INVOICE_STUCK_MINUTES=10
INVOICE_FAILED_THRESHOLD=5
INVOICE_FAILED_WINDOW_MINUTES=10